<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<insert id="insert">
		insert into account 
		values(#{NAME},#{ACCOUNT_NUM},#{BEGIN_BALANCE},#{INCOME_DATE},#{ETC, jdbcType=VARCHAR})
	</insert>
	<select id="readBeginDaily" resultType="com.fland.domain.IncomeVO">
		select SUM(sum) as SUM, ACCOUNT 
			from TRANSACTION 
			where
			<![CDATA[
				TRAN_DATE >= STR_TO_DATE('2017-12-31', '%Y-%m-%d') 
				and TRAN_DATE <= STR_TO_DATE(#{date}, '%Y-%m-%d')
				and account in ('농협(매출)','농협(경비)','기업(매출)','기업(경비)','신한(매출)','국민(매출)')
 				group by account
			]]>
	</select>
	<select id="readBegin" resultType="com.fland.domain.IncomeVO">
		select SUM(sum) as SUM, ACCOUNT 
			from TRANSACTION 
			where
			<![CDATA[
				TRAN_DATE >= STR_TO_DATE('2017-12-31', '%Y-%m-%d') 
				and TRAN_DATE < STR_TO_DATE(#{date}, '%Y-%m-%d')
				and account in ('농협(매출)','농협(경비)','기업(매출)','기업(경비)','신한(매출)','국민(매출)')
 				group by account
			]]>
	</select>
	<select id="readEnd" resultType="com.fland.domain.IncomeVO">
		select SUM(sum) as SUM, ACCOUNT 
			from TRANSACTION 
			where
			<![CDATA[
				TRAN_DATE >= STR_TO_DATE('2017-12-31', '%Y-%m-%d') 
				and TRAN_DATE <= STR_TO_DATE(#{date}, '%Y-%m-%d')
				and account in ('농협(매출)','농협(경비)','기업(매출)','기업(경비)','신한(매출)','국민(매출)')
 				group by account
			]]>
	</select>
	<select id="readDailyBegin" resultType="int">
		select SUM(sum)
		    from TRANSACTION 
			<![CDATA[
		    where TRAN_DATE >= STR_TO_DATE('2017-12-31', '%Y-%m-%d') 
		    and TRAN_DATE < STR_TO_DATE(
		    least(
		        #{day}, DATE_FORMAT(last_day(str_to_date(#{month}, '%Y-%m')),'%Y-%m-%d')
		        ),'%Y-%m-%d')
			]]>
	</select>
	<select id="readDailyEnd" resultType="int">
		select SUM(sum)
		    from TRANSACTION 
			<![CDATA[
		    where TRAN_DATE >= STR_TO_DATE('2017-12-31', '%Y-%m-%d') 
		    and TRAN_DATE <= STR_TO_DATE(
		    least(
		        #{day}, DATE_FORMAT(last_day(to_date(#{month}, '%Y-%m')),'%Y-%m-%d')
		        ),'%Y-%m-%d')
			]]>
	</select>
	<select id="readInfo" resultType="com.fland.domain.AccountVO">
		select NAME, ACCOUNT_NUM from account
	</select>
</mapper>