<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="company">
	<insert id="add">
		insert into client(dvs, name, item, person, email, phone_cell, phone_com, fax, address, bank, account_num, account_name, license_num, type1, type2, ceo, clas, refer)
		values(
			#{dvs},
			#{name},
			#{item},
			#{person, jdbcType=VARCHAR},
			#{email, jdbcType=VARCHAR},
			#{phone_cell, jdbcType=VARCHAR},
			#{phone_com, jdbcType=VARCHAR},
			#{fax, jdbcType=VARCHAR},
			#{address, jdbcType=VARCHAR},
			#{bank, jdbcType=VARCHAR},
			#{account_num, jdbcType=VARCHAR},
			#{account_name, jdbcType=VARCHAR},
			#{license_num, jdbcType=VARCHAR},
			#{type1, jdbcType=VARCHAR},
			#{type2, jdbcType=VARCHAR},
			#{ceo, jdbcType=VARCHAR},
			#{clas, jdbcType=VARCHAR},
			#{refer, jdbcType=VARCHAR}
		)
	</insert>
	<select id="listRead" resultType="com.fland.domain.CompanyVO">
		select * from client
	</select>
	<select id="companyRead" resultType="com.fland.domain.CompanyVO">
		select * from client where name=#{NAME}
	</select>
	<update id="update">
		update  client set dvs=#{dvs, jdbcType=VARCHAR}, item=#{item, jdbcType=VARCHAR}, person=#{person, jdbcType=VARCHAR}, 
			email=#{email, jdbcType=VARCHAR}, phone_cell=#{phone_cell, jdbcType=VARCHAR}, phone_com=#{phone_com, jdbcType=VARCHAR}, 
			fax=#{fax, jdbcType=VARCHAR}, address=#{address, jdbcType=VARCHAR}, bank=#{bank, jdbcType=VARCHAR},
			account_num=#{account_num, jdbcType=VARCHAR}, account_name=#{account_name, jdbcType=VARCHAR}, 
			license_num=#{license_num, jdbcType=VARCHAR}, type1=#{type1, jdbcType=VARCHAR}, type2=#{type2, jdbcType=VARCHAR}, 
			ceo=#{ceo, jdbcType=VARCHAR}, clas=#{clas, jdbcType=VARCHAR}, refer=#{refer, jdbcType=VARCHAR}
		where name=#{name}	
	</update>
</mapper>