<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="order">
	<insert id="add">
		insert into ORDER_TBL (no,orderno,company,serial,orderdate,enddate,fabric,workwidth,workweight,price,color,orderlength,colorbt,etc,person, sn)
		values (null,
			#{orderno},
			#{company},
			#{serial},
			#{orderdate},
			#{enddate, jdbcType=VARCHAR},
			#{fabric},
			#{workwidth},
			#{workweight},
			#{price, jdbcType=VARCHAR},
			#{color},
			#{orderlength},
			#{colorbt, jdbcType=VARCHAR},
			#{etc, jdbcType=VARCHAR},
			#{person},
			#{sn}
		)
	</insert>
	<select id="orderread" resultType="int">
		select count(*) from ORDER_TBL where orderno = #{orderno}
	</select>
	<update id="orderupdate">
		update ORDER_TBL set 
			company=#{company},
			serial=#{serial},
			orderdate=#{orderdate},
			enddate=#{enddate, jdbcType=VARCHAR},
			fabric=#{fabric},
			workwidth=#{workwidth},
			workweight=#{workweight},
			price=#{price, jdbcType=VARCHAR},
			color=#{color},
			orderlength=#{orderlength},
			colorbt=#{colorbt, jdbcType=VARCHAR},
			etc=#{etc, jdbcType=VARCHAR},
			person=#{person}
		where orderno=#{orderno}
	</update>
	<select id="ordersearch" resultType="HashMap">
		select * from order_tbl where ORDERNO = #{orderno}
	</select>
<!--  염색의뢰서 -->
	<select id="dyeread" resultType="int">
		select count(*) from DYE_TBL where orderno = #{orderno}
	</select>
	<insert id="dyeadd">
		insert into dye_tbl (dyeno,orderno,loss,perkg,mixed,method,detail,dyeetc,caution,delivery,testcolor,test,knitcompany,dyecompany,rolltotal,perkgtotal)
			values(null,
				#{orderno},
				#{loss},
				#{perkg},
				#{mixed, jdbcType=VARCHAR},
				#{method, jdbcType=VARCHAR},
				#{detail, jdbcType=VARCHAR},
				#{dyeetc, jdbcType=VARCHAR},
				#{caution},
				#{delivery, jdbcType=VARCHAR},
				#{testcolor, jdbcType=VARCHAR},
				#{test, jdbcType=VARCHAR},
				#{knitcompany, jdbcType=VARCHAR},
				#{dyecompany, jdbcType=VARCHAR},
				#{rolltotal},
				#{perkgtotal}
				)
	</insert>
	<update id="dyeupdate">
		update dye_tbl set
			loss=#{loss},
			perkg=#{perkg},
			mixed=#{mixed, jdbcType=VARCHAR},
			method=#{method, jdbcType=VARCHAR},
			detail=#{detail, jdbcType=VARCHAR},
			dyeetc=#{dyeetc, jdbcType=VARCHAR},
			caution=#{caution},
			delivery=#{delivery, jdbcType=VARCHAR},
			testcolor=#{testcolor, jdbcType=VARCHAR},
			test=#{test, jdbcType=VARCHAR},
			knitcompany=#{knitcompany, jdbcType=VARCHAR},
			dyecompany=#{dyecompany, jdbcType=VARCHAR},
			rolltotal=#{rolltotal},
			perkgtotal=#{perkgtotal}
		where orderno=#{orderno}
	</update>
	<select id="dyesearch" resultType="HashMap">
		select o.WORKWEIGHT, 
			o.ORDERLENGTH, 
			o.COLOR, 
			d.CAUTION, 
			d.DELIVERY, 
			d.DETAIL, 
			d.DYECOMPANY, 
			d.DYEETC, 
			d.KNITCOMPANY, 
			d.METHOD,
			d.MIXED,
			d.TEST,
			d.TESTCOLOR,
			d.LOSS,
			d.PERKG
		from order_tbl o 
		join dye_tbl d 
		on o.ORDERNO=d.ORDERNO 
		where o.ORDERNO=#{orderno}
	</select>
<!-- 편직의뢰서 -->
	<insert id="knitadd">
		insert into knit_tbl (knitno,orderno,thread,ratio,weight,thread_com,con,rolltotal,perkgtotal,knitcompany,delivery,inch,gage,niddle,organ,looplength,lot)
			values(null,
				#{orderno},
				#{thread},
				#{ratio},
				#{weight},
				#{thread_com, jdbcType=VARCHAR},
				#{con},
				#{rolltotal},
				#{perkgtotal},
				#{knitcompany},
				#{delivery},
				#{inch, jdbcType=INTEGER},
				#{gage, jdbcType=INTEGER},
				#{niddle, jdbcType=INTEGER},
				#{organ, jdbcType=VARCHAR},
				#{looplength, jdbcType=VARCHAR},
				#{lot, jdbcType=VARCHAR}
			)
	</insert>
	<update id="knitupdate">
		update knit_tbl set
				THREAD=#{thread},
				RATIO=#{ratio},
				WEIGHT=#{weight},
				THREAD_COM=#{thread_com, jdbcType=VARCHAR},
				CON=#{con},
				ROLLTOTAL=#{rolltotal},
				PERKGTOTAL=#{perkgtotal},
				KNITCOMPANY=#{knitcompany},
				DELIVERY=#{delivery},
				INCH=#{inch, jdbcType=INTEGER},
				GAGE=#{gage, jdbcType=INTEGER},
				NIDDLE=#{niddle, jdbcType=INTEGER},
				ORGAN=#{organ, jdbcType=VARCHAR},
				LOOPLENGTH=#{looplength, jdbcType=VARCHAR},
				LOT=#{lot, jdbcType=VARCHAR}
			where KNITNO=#{knitno}	
	</update>
	<delete id="knitdel">
		delete from knit_tbl where knitno=#{knitno}
	</delete>
	<select id="knitsearch" resultType="HashMap">
		select * from knit_tbl where orderno = #{orderno} order by KNITNO asc
	</select>
	<select id="knitnew" resultType="HashMap">
		select o.COLOR, o.ORDERLENGTH, o.WORKWEIGHT, d.LOSS, d.PERKG 
			from order_tbl o join dye_tbl d on o.orderno=d.ORDERNO 
			where o.orderno=#{orderno}
	</select>
<!-- 원사발주서 -->	
	<insert id="threadadd">
		insert into thread_tbl (threadno, orderno, company, delivery, knitloss, threadweight, threadetc, btno)
			values(null,
				#{orderno},
				#{company},
				#{delivery},
				#{knitloss},
				#{threadweight},
				#{threadetc},
				#{btno}
			)
	</insert>
	<update id="threadupdate">
		update thread_tbl set
			company = #{company},
			delivery = #{delivery},
			knitloss = #{knitloss},
			threadweight = #{threadweight},
			threadetc = #{threadetc},
			btno = #{btno}
		where threadno = #{threadno}	
	</update>
	<delete id="threaddel">
		delete from thread_tbl where threadno=#{threadno}
	</delete>
	<select id="threaddata" resultType="HashMap">
		SELECT KNITNO, THREAD, WEIGHT, PERKGTOTAL, RATIO
		FROM knit_tbl
		WHERE ORDERNO=#{orderno} order by KNITNO asc
	</select>
	<select id="threadsearch" resultType="com.fland.domain.ThreadVO">
		select * from thread_tbl where orderno = #{orderno} order by threadno asc
	</select>
	<select id="threadcheck" resultType="int">
		select count(*) from thread_tbl where orderno=#{orderno}
	</select>
<!-- 가공의뢰서 -->
	<insert id="workadd">
		insert into work_tbl (WORKNO, ORDERNO, KNITDELIVERY, WORKCOMPANY, WORK, DETAIL, ETC, CAUTION, DELIVERY)
			values(null,
				#{ORDERNO},
				#{KNITDELIVERY},
				#{WORKCOMPANY},
				#{WORK},
				#{DETAIL},
				#{ETC},
				#{CAUTION},
				#{DELIVERY}
			)
	</insert>
	<update id="workupdate">
		update work_tbl set
			KNITDELIVERY = #{KNITDELIVERY},
			WORKCOMPANY = #{WORKCOMPANY},
			WORK = #{WORK},
			DETAIL = #{DETAIL},
			ETC = #{ETC},
			CAUTION = #{CAUTION},
			DELIVERY = #{DELIVERY}
		where ORDERNO = #{ORDERNO}
	</update>
	<select id="work" resultType="HashMap">
		select o.COLOR, o.ORDERLENGTH, o.WORKWEIGHT, d.LOSS, d.PERKG, d.MIXED
		from order_tbl o join dye_tbl d on o.orderno=d.ORDERNO 
		where o.orderno=#{orderno}
	</select>
	<select id="worksearch" resultType="HashMap">
		select * from work_tbl where ORDERNO=#{orderno}
	</select>
	<select id="workcheck" resultType="int">
		select count(*) from work_tbl where ORDERNO=#{orderno}
	</select>
	
	
<!-- paging ORACLE -->
	<!-- 목록 조회 (페이징) -->
	<select id="pageList" resultType="com.fland.domain.OrderVO" >
		SELECT * FROM (
			SELECT ROWNUM rnum, A.* FROM (
				SELECT * FROM ORDER_TBL ORDER BY no DESC
				) A WHERE ROWNUM <![CDATA[<]]>= #{page} * #{perPageNum}
			) WHERE rnum <![CDATA[>]]>  (#{page} -1) * #{perPageNum}
	</select>
	<!-- 목록 총 개수 조회 (전체 조회)-->
	<select id="countPaging" resultType="int">
		SELECT COUNT(no) count FROM ORDER_TBL where no <![CDATA[>]]> 0
	</select>
	
<!-- paging MySQL -->
	<select id="listCriteria" resultType="com.fland.domain.OrderVO">
		<![CDATA[
		select * from order_tbl
		where no > 0
		order by no desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
</mapper>