<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="print">
	<select id="dye" resultType="HashMap">
		select 
			o.ORDERDATE, 
			o.FABRIC,
			o.WORKWIDTH, 
			o.WORKWEIGHT, 
			o.COLOR, 
			o.COLORBT, 
			o.ORDERLENGTH, 
			d.ORDERNO, 
			d.KNITCOMPANY,
			d.DYECOMPANY,
			d.MIXED,
			d.METHOD,
			d.DETAIL,
			d.PERKG,
			d.ROLLTOTAL,
			d.PERKGTOTAL,
			d.TESTCOLOR,
			d.TEST,
			d.DYEETC,
			d.CAUTION,
			d.DELIVERY
		from order_tbl o join dye_tbl d on o.orderno=d.ORDERNO  
		where o.orderno = #{orderno}
	</select>
</mapper>