<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="purchase">
	<insert id="add">
		insert into purchase_tbl (no, purchase_date, order_no, category, company, detail, sum)
		values(null,
			#{purchase_date},
			#{order_no},
			#{category},
			#{company},
			#{detail},
			#{sum}
		)
	</insert>
	<select id="modify" resultType="com.fland.domain.PurchaseVO">
		select order_no, sum, quantity, stock_in_date from purchase_tbl where no = #{no}
	</select>
	<update id="update">
		update purchase_tbl set sum=#{sum}, quantity=#{quantity}, stock_in_date=#{stock_in_date}
			where no=#{no}
	</update>
	<delete id="delete">
		delete from purchase_tbl where no=#{no}
	</delete>
	<select id="order_list" resultType="HashMap">
		select order_no from purchase_tbl group by order_no
	</select>
	<select id="month" resultType="HashMap">
		select sum(sum) as sum from purchase_tbl 
			where order_no=#{order_no} and stock_in_date between #{date} and last_day(#{date})
	</select>
	<!-- 목록 총 개수 조회 (전체 조회)-->
	<select id="countPaging" resultType="int">
		SELECT COUNT(no) count FROM purchase_tbl where no <![CDATA[>]]> 0
	</select>
	
<!-- paging MySQL -->
	<select id="listCriteria" resultType="com.fland.domain.PurchaseVO">
		<![CDATA[
		select * from purchase_tbl
		where no > 0
		order by no desc
		limit #{pageStart}, #{perPageNum}
		]]>
	</select>
</mapper>